In [114]:
import pandas as pd
import numpy as np

In [115]:
payment = pd.read_csv('repayment_clean.csv', parse_dates=[0])
phone = pd.read_csv('phone_clean.csv', parse_dates=[0])
people = pd.read_csv('people_clean.csv', parse_dates=[0])
merged1 = pd.merge(payment, phone, on='person_id_random', how = 'left')
merged2 = pd.merge(merged1, people, on='person_id_random', how = 'left')

In [116]:
merged2=merged2.drop(['currentDate','loanStartDatesFirst','loanPaidDatesLast','payoffDays' ],1)

In [117]:
#fill any values that might be blank - person_id_random set not identical in data sets 
merged2=merged2.fillna(0)

In [118]:
merged2.head(5)

,person_id_random,paidOff,paidOffDuring30,hasDualSim,hasWlan,hasBluetooth,android_version,gender,fb_friend_count,current_home_years,living_situation,current_job_years,education,outstanding_loan,use_mobile_wallet_how_often,relationship_status,Age,job_status,annual_wages
0,7346661357,0,1,0,1,1,4,0,1961,5,0,6,2,0,2,0,25,1,462000.000000
1,9468184407,1,0,0,0,1,4,0,194,5,0,0,2,0,2,1,35,0,352000.000000
2,2990883566,0,1,0,1,1,4,1,445,4,0,6,0,0,1,0,29,1,660000.000000
3,2320175519,1,0,0,1,1,4,0,107,3,0,0,1,0,2,1,46,0,284415.299555
4,5330295937,1,0,0,1,0,2,0,214,5,0,4,0,0,2,0,33,1,284415.299555

In [120]:
merged2.to_csv('final_clean.csv', sep=',', index = False)