In [649]:
import pandas as pd
import numpy as np

In [650]:
#import CSV
df = pd.read_csv('dataAnalystChallenge_repayment_2017.csv', parse_dates=[0])

In [651]:
df.head(5)

,person_id_random,nLoans,loanStartDates,loanPaidDates,currentDate
0,7346661357,1,3/3/15,NaN,8/19/15
1,9468184407,1,7/21/15,8/15/15,8/19/15
2,2990883566,1,12/29/14,NaN,8/19/15
3,2320175519,6,2015-05-08;2015-05-29;2015-06-15;2015-07-03;20...,2015-05-26;2015-06-15;2015-07-03;2015-07-30;20...,8/19/15
4,5330295937,5,2014-05-23;2014-06-09;2014-06-20;2014-07-14;20...,2014-06-08;2014-06-20;2014-07-05;2014-08-04,8/19/15

In [652]:
# check for duplicates in person_id_random column
df['duplicated']=df.duplicated('person_id_random')
df['duplicated'].sum()
df=df.drop(['duplicated'],1)

In [653]:
# Use only first loan start and first loan paid date -> borrower cannot take out an additional loan if they do not pay for the first, 
# hence for current analysis only first loan is relevant 
df['loanStartDatesFirst'] = df['loanStartDates'].str[:10]
df['loanPaidDatesLast'] = df['loanPaidDates'].str[:10]
# Drop original columns containing all loan start and loan paid dates as well as the number of loans
df=df.drop(['loanStartDates', 'loanPaidDates', 'nLoans'],1)
#Convert all date fields to datetime
df['currentDate'] = pd.to_datetime(df['currentDate'])
df['loanStartDatesFirst'] = pd.to_datetime(df['loanStartDatesFirst'])
df['loanPaidDatesLast'] = pd.to_datetime(df['loanPaidDatesLast'])
#Calculate number of days to payoff or outstanding
df['payoffDays'] = np.where(df['loanPaidDatesLast'].isnull(), df['currentDate']-df['loanStartDatesFirst'],df['loanPaidDatesLast']-df['loanStartDatesFirst'] )
#Convert payoffDays to integer 
df['payoffDays'] = df['payoffDays'].astype('timedelta64[D]')

In [654]:
# Create payoff category one, whether the borrower paid off the loan - 1, or not - 0 
df['paidOff'] = np.where(df['loanPaidDatesLast'].isnull(), 0, 1)
# Create payoff category two - whether the loan was outstanding for less than 30 days - 0, or more  than 30 -1 
df['paidOffDuring30'] = np.where(df['payoffDays']>30, 1, 0)

In [655]:
df.to_csv('repayment_clean.csv', sep=',', index=False)